.protyle-wysiwyg .callout {
    border: none;
    border-radius: var(--b3-border-radius);
    padding: 4px 4px 4px calc(.25em + 6px);
    &[data-subtype="NOTE"] {
        background-color: oklch(from var(--b3-callout-note) l c h / 0.1);
    }
    &[data-subtype="TIP"] {
        background-color: oklch(from var(--b3-callout-tip) l c h / 0.1);
    }
    &[data-subtype="IMPORTANT"] {
        background-color: oklch(from var(--b3-callout-important) l c h / 0.1);
    }
    &[data-subtype="WARNING"] {
        background-color: oklch(from var(--b3-callout-warning) l c h / 0.1);
    }
    &[data-subtype="CAUTION"] {
        background-color: oklch(from var(--b3-callout-caution) l c h / 0.1);
    }
}

