/* 超链接样式 */
html {
    & .protyle-wysiwyg [data-node-id] span[data-type~=a] {
        border-bottom: 0.5px solid;
        color: var(--b3-theme-on-surface);
        &::before {
            content: "";
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            vertical-align: 0;
            margin-right: 2px;
            background-color: currentColor;
            -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M512 938.666667C276.352 938.666667 85.333333 747.648 85.333333 512S276.352 85.333333 512 85.333333s426.666667 191.018667 426.666667 426.666667-191.018667 426.666667-426.666667 426.666667z m-97.706667-99.541334A763.733333 763.733333 0 0 1 342.485333 554.666667H173.312a341.674667 341.674667 0 0 0 240.981333 284.458666zM427.946667 554.666667c6.442667 104.064 36.181333 201.813333 84.053333 288.085333A678.613333 678.613333 0 0 0 596.053333 554.666667h-168.106666z m422.741333 0h-169.173333a763.733333 763.733333 0 0 1-71.808 284.458666A341.674667 341.674667 0 0 0 850.688 554.666667zM173.312 469.333333h169.173333A763.733333 763.733333 0 0 1 414.293333 184.874667 341.674667 341.674667 0 0 0 173.312 469.333333z m254.677333 0h168.021334A678.613333 678.613333 0 0 0 512 181.248 678.613333 678.613333 0 0 0 427.946667 469.333333h0.042666z m181.717334-284.458666A763.733333 763.733333 0 0 1 681.514667 469.333333h169.173333a341.674667 341.674667 0 0 0-240.981333-284.458666z' fill='currentColor'/%3E%3C/svg%3E") no-repeat;
            mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M512 938.666667C276.352 938.666667 85.333333 747.648 85.333333 512S276.352 85.333333 512 85.333333s426.666667 191.018667 426.666667 426.666667-191.018667 426.666667-426.666667 426.666667z m-97.706667-99.541334A763.733333 763.733333 0 0 1 342.485333 554.666667H173.312a341.674667 341.674667 0 0 0 240.981333 284.458666zM427.946667 554.666667c6.442667 104.064 36.181333 201.813333 84.053333 288.085333A678.613333 678.613333 0 0 0 596.053333 554.666667h-168.106666z m422.741333 0h-169.173333a763.733333 763.733333 0 0 1-71.808 284.458666A341.674667 341.674667 0 0 0 850.688 554.666667zM173.312 469.333333h169.173333A763.733333 763.733333 0 0 1 414.293333 184.874667 341.674667 341.674667 0 0 0 173.312 469.333333z m254.677333 0h168.021334A678.613333 678.613333 0 0 0 512 181.248 678.613333 678.613333 0 0 0 427.946667 469.333333h0.042666z m181.717334-284.458666A763.733333 763.733333 0 0 1 681.514667 469.333333h169.173333a341.674667 341.674667 0 0 0-240.981333-284.458666z' fill='currentColor'/%3E%3C/svg%3E") no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
        }
        &:hover {
            border-color: var(--b3-protyle-inline-link-color);
            color: var(--b3-theme-on-primary) !important;
            background-color: var(--b3-protyle-inline-link-color);
        }
    }
    & .protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext) {
        border-bottom: 0.5px solid;
        color: var(--b3-theme-on-surface);
        &::before {
            content: "";
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            vertical-align: 0;
            margin-right: 2px;
            background-color: currentColor;
            -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M753.408 572.245333l30.122667-30.122666a213.333333 213.333333 0 1 0-301.696-301.696l-30.165334 30.208a42.666667 42.666667 0 0 1-60.330666-60.330667l30.208-30.165333a298.666667 298.666667 0 0 1 422.4 422.4l-30.165334 30.165333a42.666667 42.666667 0 0 1-60.373333-60.458667z m-150.912 271.616a298.666667 298.666667 0 0 1-422.4-422.4l30.165333-30.165333a42.666667 42.666667 0 1 1 60.330667 60.458667l-30.122667 30.122666a213.333333 213.333333 0 1 0 301.696 301.696l30.165334-30.165333a42.666667 42.666667 0 0 1 60.330666 60.330667l-30.165333 30.122666z m60.373333-482.688a42.666667 42.666667 0 0 1 0 60.330667l-241.365333 241.322667a42.666667 42.666667 0 0 1-60.373333-60.330667l241.322666-241.365333a42.666667 42.666667 0 0 1 60.416 0z' fill='currentColor'/%3E%3C/svg%3E") no-repeat;
            mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M753.408 572.245333l30.122667-30.122666a213.333333 213.333333 0 1 0-301.696-301.696l-30.165334 30.208a42.666667 42.666667 0 0 1-60.330666-60.330667l30.208-30.165333a298.666667 298.666667 0 0 1 422.4 422.4l-30.165334 30.165333a42.666667 42.666667 0 0 1-60.373333-60.458667z m-150.912 271.616a298.666667 298.666667 0 0 1-422.4-422.4l30.165333-30.165333a42.666667 42.666667 0 1 1 60.330667 60.458667l-30.122667 30.122666a213.333333 213.333333 0 1 0 301.696 301.696l30.165334-30.165333a42.666667 42.666667 0 0 1 60.330666 60.330667l-30.165333 30.122666z m60.373333-482.688a42.666667 42.666667 0 0 1 0 60.330667l-241.365333 241.322667a42.666667 42.666667 0 0 1-60.373333-60.330667l241.322666-241.365333a42.666667 42.666667 0 0 1 60.416 0z' fill='currentColor'/%3E%3C/svg%3E") no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
        }
        &:hover {
            border-color: var(--b3-protyle-inline-blockref-color);
            color: var(--b3-theme-on-primary) !important;
            background-color: var(--b3-protyle-inline-blockref-color);
        }
    }
    & .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
        border-bottom: 0.5px solid;
        color: var(--b3-theme-on-surface);
        &::before {
            content: "";
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            vertical-align: 0;
            margin-right: 2px;
            background-color: currentColor;
            -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M273.664 682.666667L706.389333 249.941333l-60.330666-60.330666L213.333333 622.336V682.666667h60.330667z m0 85.333333H192A64 64 0 0 1 128 704v-81.706667a85.333333 85.333333 0 0 1 25.002667-60.330666L615.893333 99.072a42.666667 42.666667 0 0 1 60.330667 0l120.704 120.704a42.666667 42.666667 0 0 1 0 60.330667l-462.933333 462.933333A85.333333 85.333333 0 0 1 273.749333 768zM170.666667 853.333333h682.666666a42.666667 42.666667 0 0 1 0 85.333334H170.666667a42.666667 42.666667 0 0 1 0-85.333334z' fill='currentColor'/%3E%3C/svg%3E") no-repeat;
            mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M273.664 682.666667L706.389333 249.941333l-60.330666-60.330666L213.333333 622.336V682.666667h60.330667z m0 85.333333H192A64 64 0 0 1 128 704v-81.706667a85.333333 85.333333 0 0 1 25.002667-60.330666L615.893333 99.072a42.666667 42.666667 0 0 1 60.330667 0l120.704 120.704a42.666667 42.666667 0 0 1 0 60.330667l-462.933333 462.933333A85.333333 85.333333 0 0 1 273.749333 768zM170.666667 853.333333h682.666666a42.666667 42.666667 0 0 1 0 85.333334H170.666667a42.666667 42.666667 0 0 1 0-85.333334z' fill='currentColor'/%3E%3C/svg%3E") no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
        }
        &:hover {
            border-color: var(--b3-protyle-inline-fileref-color);
            color: var(--b3-theme-on-primary) !important;
            background-color: var(--b3-protyle-inline-fileref-color);
        }
    }
    & .protyle-wysiwyg [data-node-id] span[data-type~=virtual-block-ref] {
        border-bottom: 0.5px solid;
        color: var(--b3-theme-on-surface);
        &::before {
            content: "";
            display: inline-block;
            width: 0.8em;
            height: 0.8em;
            vertical-align: 0;
            margin-right: 2px;
            background-color: currentColor;
            -webkit-mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M746.666667 128a149.333333 149.333333 0 1 1-73.642667 279.296l-15.488 15.488c15.914667 25.941333 25.130667 56.490667 25.130667 89.216 0 29.525333-7.509333 57.301333-20.693334 81.493333l56.405334 56.490667a128 128 0 1 1-63.232 57.557333l-51.456-51.541333A169.856 169.856 0 0 1 512 682.666667c-19.712 0-38.656-3.328-56.32-9.514667l-46.336 46.336a149.333333 149.333333 0 1 1-59.776-60.885333l34.090667-34.133334A170.026667 170.026667 0 0 1 341.333333 512c0-33.365333 9.557333-64.426667 26.112-90.752L315.562667 369.322667a128 128 0 1 1 58.026666-62.634667l55.893334 55.893333A169.898667 169.898667 0 0 1 512 341.333333c30.592 0 59.306667 8.064 84.096 22.144l17.792-17.749333A149.333333 149.333333 0 0 1 746.666667 128z m-469.333334 597.333333a64 64 0 1 0 0 128 64 64 0 0 0 0-128zM768 725.333333a42.666667 42.666667 0 1 0 0 85.333334 42.666667 42.666667 0 0 0 0-85.333334z m-256-298.666666a85.333333 85.333333 0 1 0 0 170.666666 85.333333 85.333333 0 0 0 0-170.666666z m234.666667-213.333334a64 64 0 1 0 0 128 64 64 0 0 0 0-128zM256 213.333333a42.666667 42.666667 0 1 0 0 85.333334 42.666667 42.666667 0 0 0 0-85.333334z' fill='currentColor'/%3E%3C/svg%3E") no-repeat;
            mask: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M746.666667 128a149.333333 149.333333 0 1 1-73.642667 279.296l-15.488 15.488c15.914667 25.941333 25.130667 56.490667 25.130667 89.216 0 29.525333-7.509333 57.301333-20.693334 81.493333l56.405334 56.490667a128 128 0 1 1-63.232 57.557333l-51.456-51.541333A169.856 169.856 0 0 1 512 682.666667c-19.712 0-38.656-3.328-56.32-9.514667l-46.336 46.336a149.333333 149.333333 0 1 1-59.776-60.885333l34.090667-34.133334A170.026667 170.026667 0 0 1 341.333333 512c0-33.365333 9.557333-64.426667 26.112-90.752L315.562667 369.322667a128 128 0 1 1 58.026666-62.634667l55.893334 55.893333A169.898667 169.898667 0 0 1 512 341.333333c30.592 0 59.306667 8.064 84.096 22.144l17.792-17.749333A149.333333 149.333333 0 0 1 746.666667 128z m-469.333334 597.333333a64 64 0 1 0 0 128 64 64 0 0 0 0-128zM768 725.333333a42.666667 42.666667 0 1 0 0 85.333334 42.666667 42.666667 0 0 0 0-85.333334z m-256-298.666666a85.333333 85.333333 0 1 0 0 170.666666 85.333333 85.333333 0 0 0 0-170.666666z m234.666667-213.333334a64 64 0 1 0 0 128 64 64 0 0 0 0-128zM256 213.333333a42.666667 42.666667 0 1 0 0 85.333334 42.666667 42.666667 0 0 0 0-85.333334z' fill='currentColor'/%3E%3C/svg%3E") no-repeat;
            mask-size: contain;
            -webkit-mask-size: contain;
        }
        &:hover {
            border-color: var(--b3-theme-primary);
            color: var(--b3-theme-on-primary) !important;
            background-color: var(--b3-theme-primary);
        }
    }
}