.b3-menu__item:not(.b3-menu__item--readonly, [data-type="nobg"], [data-type="addColOptionOrCell"], [data-color]):hover,
.b3-menu__item--show:not(.b3-menu__item--readonly, [data-type="nobg"], [data-type="addColOptionOrCell"], [data-color]),
.b3-menu__item--current:not(.b3-menu__item--readonly, [data-type="nobg"], [data-type="addColOptionOrCell"], [data-color]) {
    background-color: var(--b3-theme-primary) !important;
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator, .b3-menu__action, .b3-menu__checked, .fn__flex-center) {
        color: var(--b3-theme-on-primary) !important;
        & > .b3-menu__icon {
            color: var(--b3-theme-on-primary) !important;
        }
    }
    & > :is(.b3-switch:checked) {
        filter: brightness(0.9);
        outline: 0.5px solid var(--b3-theme-on-primary);
    }
    &:is(.b3-menu__item--warning, [data-type="remove"], [data-type="delete-view"]) {
        background-color: var(--b3-theme-error) !important;
    }
}
:is(#QYL-content-layout, #QYL-content-style, #QYL-content-function, #QYL-content-element, #QYL-content-color) {
    & > :is(.QYL-layout-container, .QYL-style-container, .QYL-function-container, .QYL-element-container, .QYL-color-container) {
        & > :is(.QYL-layout-option, .QYL-style-option, .QYL-function-option, .QYL-element-option, .QYL-color-option) {
            & > button {
                &:hover {
                    background-color: var(--b3-theme-primary);
                    color: var(--b3-theme-on-primary);
                    &::before {
                        background-color: var(--b3-theme-on-primary) !important;
                    }
                }
            }
        }
    }
}
#QYLSettingsContent > div:first-child {
    & > div {
        &:hover {
            background-color: var(--b3-theme-primary);
            color: var(--b3-theme-on-primary)  
        }
    }
}
/* 代码片段管理器插件 */
#commonMenu[data-name=PluginSnippets] .jcsm-snippets-container .jcsm-snippet-item {
    &.b3-menu__item--current, &:hover {
        & .jcsm-snippet-name {
            color: var(--b3-theme-on-primary) !important;
        }
        & .block__icon {
            color: var(--b3-theme-on-primary) !important;
            &:hover {
                color: var(--b3-theme-primary) !important;
                background-color: var(--b3-theme-on-primary) !important;
            }
        }
    }
    &[data-type=new] {
        color: var(--b3-theme-on-primary) !important;
    }
}