.config-bazaar__panel {
    & .b3-card {
        box-shadow: var(--b3-point-shadow);
        background-color: rgba(255, 0, 0, 0);
        border-radius: 16px;
        &.b3-card--current {
            background-color: transparent;
            & .b3-card__info {
                color: var(--b3-theme-primary);
                & .ft__on-surface, .b3-card__desc {
                    color: var(--b3-theme-primary);
                }
            }
        }
        &:hover {
            background-color: var(--QYL-tab-item-focus);
            transform: scale(1.02);
            & .b3-card__img {
                filter: saturate(1.8);
            }
        }
    }
}
.config-bazaar__panel[data-type=downloaded] .config-bazaar__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    margin: 16px;
    & .b3-card {
        display: grid;
        grid-template-areas: "img info" "img buttons";
        grid-template-columns: 90px 1fr;
        margin: 0;
        & > .b3-card__actions {
            grid-area: buttons;
            padding: 0 16px 14px;
            align-self: flex-end
        }
        & :is(> [data-type=setting], > [data-type=setting].fn__none~[data-type=uninstall], > [data-type=open]:first-child) {
            margin-left: auto;
        }
    }
}
#configBazaarReadme .block__icons {
    border-bottom: none;
}
.config-bazaar__readme {
    opacity: 1;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    box-shadow: var(--b3-point-shadow);
}
.config-bazaar__readme .item__main {
    scroll-timeline-name: --QYL-bazaar-scroller;
}
.config-bazaar__readme .item__preview:not(.item__preview--fullscreen) {
    animation: QYLBazzarImgSroller  linear;
    animation-timeline: --QYL-bazaar-scroller;
    animation-range: 0 50cqh;
    animation-duration: auto;
}
@keyframes QYLBazzarImgSroller {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(30%);
      opacity: 0;
    }
}
#configBazaarReadme .item__preview + .b3-typography blockquote {
    border-radius: 36px;
    border: 2px solid var(--b3-theme-surface-lighter);
    padding: 16px;
    font-weight: bold;
    font-size: 1.1em;
    color: var(--b3-theme-on-surface-light);
    text-align: center;
    &::before {
        display: none;
    }
}
#configBazaarReadme :is(.b3-typography,.protyle-wysiwyg) :is(.code-block,code.hljs) {
    &::before {
        display: none;
    }
}
.config-bazaar__title {
    margin-bottom: 16px;
}
[data-name="bazaar"] .layout-tab-bar :is([data-type="downloaded"], [data-type="plugin"], [data-type="theme"], [data-type="icon"], [data-type="template"], [data-type="widget"]) {
    min-width: fit-content;
}
.b3-button:is([data-type="myPlugin"], [data-type="myTheme"], [data-type="myIcon"], [data-type="myTemplate"], [data-type="myWidget"]) {
    min-width: fit-content;
}
#configBazaarReadme > .item__main {
    border-radius: var(--b3-border-radius);
}