/* 面包屑 */
.protyle-breadcrumb__item svg {
    border-radius: 4px;
    padding: 3px;
    width: 12px;
    height: 12px
}
.protyle-breadcrumb__item:hover {
    background: transparent;
    & svg {
        transition: var(--b3-transition);
        background: var(--QYL-tab-item-focus);
    }
}
.protyle-breadcrumb__item--active {
    background: transparent;
    &:first-child {
        background: transparent;
        &:hover svg {
            background: var(--QYL-tab-item-focus) !important;
            color: var(--b3-theme-on-surface);
        }
    }
    &:hover {
        background: transparent;
        & svg {
            transition: var(--b3-transition);
            background: var(--b3-theme-primary) !important;
            color: var(--b3-theme-on-primary);
        }
    }
    &:not(:first-child) svg {
        transition: var(--b3-transition);
        background: var(--QYL-tab-item-focus);
        &:hover {
            color: var(--b3-theme-on-primary);
        }
    }
}
.protyle-breadcrumb__item--active :is(svg, .protyle-breadcrumb__text) {
    color: var(--b3-theme-on-surface);
}
.protyle-breadcrumb__item--active :is(svg, .protyle-breadcrumb__text):hover {
    color: var(--b3-theme-on-surface);
}
/* 退出聚焦 */
.protyle-breadcrumb button[data-type="exit-focus"] {
    background-color: transparent;
    color: var(--b3-theme-primary);
    font-weight: bold;
    line-height: 20px;
    border: 1px solid var(--b3-theme-surface-lighter);
    padding: 0 6px;
    &:hover {
        background-color: var(--b3-theme-primary);
        color: var(--b3-theme-on-primary);
        border-color: var(--b3-theme-primary);
    }
}
/* 临时解锁 */
.protyle-breadcrumb .block__icon[data-subtype="unlock"] svg {
    color: var(--b3-theme-primary);
}