/* 文档树 */
.b3-list-item__toggle.fn__hidden::before {
    content: "";
    width: 0.25em;
    height: 0.25em;
    border-radius: 99px;
    background-color: var(--b3-theme-on-surface-light);
    position: absolute;
    visibility: visible;
    margin-left: 3px;
}
.file-tree .b3-list-item .b3-list-item__arrow {
    color: var(--b3-theme-on-surface-light);
}
/* 文档树缩进线修复 */
.file-tree>.fn__flex-1>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 22px !important
}
.file-tree>.fn__flex-1>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 40px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 58px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 76px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 94px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 112px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 130px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {/* 第八层 */
    padding-left: unset !important;
    padding-inline-start: 148px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 166px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 184px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 202px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 220px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 238px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 256px !important
}
.file-tree>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle,
.QYLmobile #sidebar>.fn__flex-1>[data-type]>.fn__flex-1>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul>ul .b3-list-item>.b3-list-item__toggle {
    padding-left: unset !important;
    padding-inline-start: 274px !important
}
/* 侧栏 */
.layout__dockl:not(.layout--float), .layout__dockr:not(.layout--float) {
    transition: width var(--b3-width-transition), box-shadow 0s var(--b3-width-transition-duration);
    will-change: width;
    & > .fn__flex {
        transition: width var(--b3-width-transition), display var(--b3-width-transition);
        transition-behavior: allow-discrete;
        & > .fn__none {
            width: 0;
        }
    }
    &:not([style*="width: 0px"]) {
        transition: width var(--b3-width-transition);
    }
}
.layout__dockb:not(.layout--float) {
    transition: height var(--b3-width-transition);
    will-change: height;
    & > .fn__flex {
        transition: height var(--b3-width-transition), display var(--b3-width-transition);
        transition-behavior: allow-discrete;
        & > .fn__none {
            height: 0;
        }
    }
}
.dock#dockLeft {
    border: none;
}
.dock#dockRight {
    border: none;
}
.dock#dockBottom {
    border: none;
      &:not(.fn__none) {
        margin-top: -6px;
      }
}
.dock__item {
    color: var(--b3-toolbar-color);
}
#dockLeft.fn__none + #layouts {
    padding-left: 6px;
    padding-right: 6px;
}
.layout__dockb[style="height: 0px;"] {
    opacity: 0;
}
.dock__item {
    border-radius: 8px;
}
.dock__item--activefocus {
    background-color: var(--QYL-tab-item-focus);
    color: var(--b3-theme-on-surface);
}
.dock__item:hover:not(.dock__item--activefocus), .dock__item--active {
    background-color: var(--QYL-tab-item-focus);
    color: var(--b3-theme-on-surface);
}
.layout--float.layout__dockl {
    box-shadow: none;
    border: none;
    border-right: 0.5px solid var(--b3-theme-surface-lighter);
    border-radius: var(--b3-border-radius) 0 0 var(--b3-border-radius);
    top: 38px;
    bottom: var(--QYL-dock-float-b);
    &:not([style*="translateX"]) {
        left: var(--QYL-dock-float-l) !important;
    }
    & .layout__resize {
        margin: -3px 0;
        &::after {
            visibility: visible;
            transform: none;
            height: 0.5px;
            top: 0;
            background-color: var(--b3-theme-surface-lighter);
        }
        &:hover::after {
            background-color: var(--b3-theme-primary);
        }
    }
}
.layout--float.layout__dockr {
    box-shadow: none;
    border: none;
    border-left: 0.5px solid var(--b3-theme-surface-lighter);
    border-radius: 0 var(--b3-border-radius) var(--b3-border-radius) 0;
    top: 38px;
    bottom: var(--QYL-dock-float-b);
    &:not([style*="translateX"]) {
        right: var(--QYL-dock-float-r) !important;
    }
    & .layout__resize {
        margin: -3px 0;
        &::after {
            visibility: visible;
            transform: none;
            height: 0.5px;
            margin: -3px 0;
            top: 0;
            background-color: var(--b3-theme-surface-lighter);
        }
        &:hover::after {
            background-color: var(--b3-theme-primary);
        }
    }
}
.layout--float.layout__dockb {
    box-shadow: none;
    border: none;
    border-top: 0.5px solid var(--b3-theme-surface-lighter);
    border-radius: 0 0 var(--b3-border-radius) var(--b3-border-radius);
    left: 42px;
    right: 42px;
    bottom: 42px !important;
    & .layout__resize {
        margin: 0 -3px;
        &::after {
            visibility: visible;
            transform: none;
            width: 0.5px;
            top: 0;
            background-color: var(--b3-theme-surface-lighter);
        }
        &:hover::after {
            background-color: var(--b3-theme-primary);
        }
    }
}
/* 聚焦 */
.layout__tab--active .b3-list--background .b3-list-item--focus {
    background-color: var(--b3-list-hover);
}