/* 图片查看器 */
.viewer-backdrop {
    background-color: transparent;
    backdrop-filter: blur(50px);
}
.viewer-navbar {
    background-color: transparent;
    padding: 6px;
}
.viewer-list>li {
    width: 52px;
    height: 52px;
    border-radius: var(--b3-border-radius);
    position: relative;
    opacity: 1 !important;
}
.viewer-list>.viewer-active {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 52px;
        height: 52px;
        z-index: 1;
        pointer-events: none;
        border-radius: var(--b3-border-radius);
        box-shadow: inset 0 0 0 1.5px var(--b3-theme-primary);
    }
}
.viewer-list {
    transition: 0.2s cubic-bezier(0.8, 0, 0.9, 1);
}
.viewer-list>li+li {
    margin-left: 5px;
}
.viewer-toolbar>ul {
    background-color: var(--b3-theme-primary);
    border-radius: 16px;
    padding: 4px 6px;
    margin: 0;
    &>li {
        background-color: transparent;
        & svg {
            color: var(--b3-theme-on-primary);
        }
        &:hover {
            background-color: var(--b3-theme-on-primary);
            & svg {
                color: var(--b3-theme-primary);
            }
        }
    }
}
.viewer-toolbar>ul>li:focus {
    box-shadow: inset 0 0 0 1.5px var(--b3-theme-on-primary);
}
.viewer-title {
    color: var(--b3-theme-on-surface);
    opacity: 1;
    margin: 6px;
}