.b3-text-field, .pcr-app .pcr-interaction .pcr-result {
    box-shadow: 0 0 0 1px var(--QYL-tab-item-focus) inset;
    background-color: var(--QYL-tab-item);
}
.b3-text-field:not(.b3-text-field--text):hover, .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):hover {
    box-shadow: 0 0 0 2px rgb(from var(--b3-theme-primary) r g b / 60%) inset;
    background-color: var(--QYL-tab-item);
}
.b3-text-field:not(.b3-text-field--text):focus, .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus {
    box-shadow: 0 0 0 2px rgb(from var(--b3-theme-primary) r g b / 60%) inset;
    background-color: var(--QYL-tab-item);
}
/* 侧栏输入框不应透明 */
:is(.layout__dockl, .layout__dockr, .layout__dockb) > :is(.fn__flex-1, .fn__flex, .fn__flex-column) > [data-type="wnd"] {
    & > .layout-tab-container {
        & .block__icons {
            & .b3-text-field {
                background-color: var(--b3-theme-background);
            }
        }
    }
}
.search__header .b3-form__icon-icon {
    z-index: 10; /*临时修复毛玻璃部分输入框图标不可见 */
}
input[type="radio"] {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        border: 2px solid var(--b3-theme-surface-lighter);
        box-sizing: border-box;
        transition: 0.15s all linear;
    }
    &:checked {
        &::after {
            border: 5px solid var(--b3-theme-primary);
        }
    }
}
input[type="range"] {
    &::-webkit-slider-runnable-track {
        height: 5px;
        border-radius: 12px;
        background-color: var(--b3-scroll-color);
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 16px;
        width: 16px;
        margin-top: -6px;
        background-color: var(--b3-theme-on-primary);
        border: 1px solid var(--b3-theme-surface-lighter);
        box-shadow: var(--b3-point-shadow);
        transition: all 0.5s cubic-bezier(0.25, 0.46, 0.15, 1.8);
    }
    &:focus {
        &::-webkit-slider-thumb {
            transform: none;
        }
    }
    &:hover {
        &::-webkit-slider-thumb {
            transform: scale(1.35);
        }
    }
    &:active {
        &::-webkit-slider-thumb {
            transform: scale(1.5);
        }
    }
}
[data-theme-mode="dark"] {
    input[type="range"] {
        &::-webkit-slider-thumb {
            background-color: var(--b3-theme-on-background);
        }
    }
}
.protyle-scroll__bar input[type="range"].b3-slider {
    &::-webkit-slider-runnable-track {
        height: 3px;
        border-radius: 12px;
        background-color: var(--b3-scroll-color);
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        height: 14px;
        width: 14px;
        margin-top: -5.5px;
        background-color: var(--b3-theme-on-primary);
        border: 1px solid var(--b3-theme-surface-lighter);
        box-shadow: var(--b3-point-shadow);
        transition: all 0.5s cubic-bezier(0.25, 0.46, 0.15, 1.8);
    }
    &:focus {
        &::-webkit-slider-thumb {
            transform: none;
        }
    }
    &:hover {
        &::-webkit-slider-thumb {
            transform: scale(1.35);
        }
    }
    &:active {
        &::-webkit-slider-thumb {
            transform: scale(1.5);
        }
    }
}
.protyle-scroll__down, .protyle-scroll__up {
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.15, 1.8);
    color: var(--b3-scroll-color);
    &:hover {
        transform: scale(1.35);
        color: var(--b3-theme-primary);
    }
}
[data-theme-mode="dark"] {
    .protyle-scroll__bar input[type="range"].b3-slider {
        &::-webkit-slider-thumb {
            background-color: var(--b3-theme-on-background);
        }
    }
}