/* 块右上角按键栏 */
.protyle-icon {
    background-color: var(--b3-theme-primary);
    color: var(--b3-theme-on-primary);
}
.protyle-icon:hover {
    background-color: color-mix(in srgb, var(--b3-theme-primary) 80%, black 20%);
    color: var(--b3-theme-on-primary);
}