#QYLattrcsssub .b3-menu__items {
    padding: 0;
}
#QYLattr .QYLAttrActive {
    background-color: var(--b3-theme-primary);
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator) {
        color: var(--b3-theme-on-primary);
    }
    &:hover {
        background-color: var(--b3-theme-primary);
    }
}
#QYLattr .QYLAttrActiveMenu {
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator) {
        color: var(--b3-theme-primary);
    }
}
.QYLmobile #QYLattr .QYLAttrActive {
    background-color: var(--b3-theme-background);
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator) {
        color: var(--b3-theme-primary);
    }
    &:hover {
        background-color: var(--b3-theme-background);
    }
}
.QYLmobile #QYLattr .QYLAttrActiveMenu {
    background-color: var(--b3-theme-background);
    & > :is(.b3-menu__icon, .b3-menu__label, .b3-menu__accelerator) {
        color: var(--b3-theme-primary);
    }
    &:hover {
        background-color: var(--b3-theme-background);
    }
}