.QYLSbWidthDrag {
    position: absolute;
    height: max(calc(100% - 25px), 20px);
    width: 6px;
    bottom: 0;
    right: calc(-0.5 * var(--QYL-sb-colgap) - 3px);
    border-radius: var(--b3-border-radius);
    background: var(--b3-theme-primary);
    cursor: col-resize;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 10;
}
.QYLSbHandleCliking > [data-node-id] {
    transition: none !important;
}
[data-sb-layout="col"]:hover > [data-node-id] > .QYLSbWidthDrag {
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}
[data-sb-layout="col"]:hover > [data-node-id] > .QYLSbInsertBlockFirstBox {
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}
[data-sb-layout="col"]:hover > [data-node-id] > .QYLSbInsertBlockLastBox {
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}
.protyle-wysiwyg[contenteditable="false"] .QYLSbWidthDrag {
    display: none;
}
.protyle-wysiwyg[contenteditable="false"] .QYLSbInsertBlockFirstBox {
    display: none;
}
.protyle-wysiwyg[contenteditable="false"] .QYLSbInsertBlockLastBox {
    display: none;
}
.QYLSbInsertBlock {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 23px;
    height: 23px;
    transition: opacity 0.3s;
    cursor: pointer;
    z-index: 11;
    & svg {
        width: 100%;
        height: 100%;
        fill: var(--b3-theme-primary);
    }
}
[data-node-id].QYLdragtip {
    background: var(--b3-theme-primary-lightest) !important;
    transition: none !important;
}
.QYLSbRatioItem {
    position: absolute;
    background: var(--b3-theme-primary);
    color: var(--b3-theme-on-primary);
    padding: 2px 6px;
    border-radius: var(--b3-border-radius);
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
    right: 0px;
    top: 0px;
}
.QYLSbInsertBlockFirstBox {
    position: absolute;
    height: max(calc(100% - 25px), 20px);
    width: 6px;
    bottom: 0;
    left: calc(-0.5 * var(--QYL-sb-colgap) - 3px);
    border-radius: var(--b3-border-radius);
    background: var(--b3-theme-primary);
    cursor: col-resize;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    & .QYLSbInsertBlockFirst {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 23px;
        height: 23px;
        transition: opacity 0.3s;
        cursor: pointer;
        z-index: 11;
        visibility: visible;
        & svg {
            width: 100%;
            height: 100%;
            fill: var(--b3-theme-primary);
        }
    }
}
.QYLSbInsertBlockLastBox {
    position: absolute;
    height: max(calc(100% - 25px), 20px);
    width: 6px;
    bottom: 0;
    right: calc(-0.5 * var(--QYL-sb-colgap) - 3px);
    border-radius: var(--b3-border-radius);
    background: var(--b3-theme-primary);
    cursor: col-resize;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    & .QYLSbInsertBlockLast {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 23px;
        height: 23px;
        transition: opacity 0.3s;
        cursor: pointer;
        z-index: 11;
        visibility: visible;
        & svg {
            width: 100%;
            height: 100%;
            fill: var(--b3-theme-primary);
        }
    }
}
