.b3-switch {
    width: 36px;
    height: 22px;
    border-radius: 18px;
    border: none;
    box-shadow: var(--b3-switch-shadow);
    &::after {
        left: 0;
        top: 50%;
        transform: translate(2px, -50%);
        width: 18px;
        height: 18px;
        transition: transform 0.15s ease-in-out, width 0.1s ease-in-out, left 0.1s ease-in-out;
        box-shadow: var(--b3-switch-after-shadow);
    }
    &:checked::after {
        left: 0;
        transform: translate(16px, -50%);
        width: 18px;
        height: 18px;
    }
    &:active:not(:disabled)::after {
        width: 24px;
        height: 18px;
        border-radius: 18px;
    }
    &:checked:active:not(:disabled)::after {
        left: -6px;
        width: 24px;
        height: 18px;
        border-radius: 18px;
    }
}
label:hover .b3-switch:not(:disabled)::before, .b3-switch:hover:not(:disabled)::before {
    display: none;
}