.tooltip {
    outline: 1px solid var(--b3-theme-surface-lighter);
    box-shadow: var(--b3-point-shadow);
}
.b3-tooltips::before {
    display: none !important;
}   
.b3-tooltips::after {
    outline: 1px solid var(--b3-theme-surface-lighter);
    color: var(--b3-theme-on-background);
}
#message.b3-snackbars {
    & > .fn__flex-1 {
        padding: 30px;
    }
    & .b3-snackbar__content {
        border-radius: 18px;
        background-color: var(--b3-theme-surface);
        color: var(--b3-theme-on-surface);   
        border: 1px solid var(--b3-theme-surface-lighter);
        box-shadow: var(--b3-point-shadow);
        padding: 18px 18px;
        & a {
            color: var(--b3-theme-primary);
            text-decoration: underline
        }
    }
    & .b3-snackbar__close {
        display: none;
    }
    & .b3-snackbar--error .b3-snackbar__content {
        padding-left: 48px;
        &::after {
            content: "❗";
            font-size: 1.5em;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}