:root {
    --QYL-sb-colgap: 1.5em;
    /* 过渡 */
    --b3-width-transition-duration: 0.3s;
    --b3-width-transition: var(--b3-width-transition-duration) cubic-bezier(0, 0, 0.22, 1);
    /* 圆角 */
    --b3-border-radius: 8px;
    --b3-border-radius-s: 6px;
    --b3-border-radius-b: 12px;
    /* 阴影 */
    --b3-shadow-main: var(--b3-theme-primary-lightest);
    --b3-shadow-main: oklch(calc(0.45 + var(--b3-theme-primary-brightness) * 0.01) calc(0.12 * var(--b3-theme-primary-saturate)) var(--b3-theme-primary-main) / 0.1);
    --b3-point-shadow: 0px 13px 25px -2px var(--b3-shadow-main),0px 0px 10px 0px var(--b3-shadow-main),0 0 0 1px rgba(255, 255, 255, 0.45) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-dialog-shadow: var(--b3-point-shadow);
    --b3-button-shadow: var(--b3-point-shadow);
    --b3-shadow-outside: 0px 13px 25px -2px var(--b3-shadow-main),0px 0px 10px 0px var(--b3-shadow-main);
    --b3-embed-shadow: 0px 0px 10px 0px var(--b3-shadow-main),0 0 0 1px rgba(255, 255, 255, 0.45) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-toolbar-shadow: 0px 13px 25px -2px var(--b3-shadow-main),0px 0px 10px 0px var(--b3-shadow-main),0 0 0 1px rgba(255, 255, 255, 0.45) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-status-shadow: 0px 13px 25px -2px var(--b3-shadow-main),0px 0px 10px 0px var(--b3-shadow-main),0 0 0 1px rgba(255, 255, 255, 0.45) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-switch-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.09),inset 0px 0px 0px 1px rgba(0, 0, 0, 0.06),inset 0 0 1px rgba(0, 0, 0, 0.28);
    --b3-switch-after-shadow: inset 0px 1px 0px 1px rgba(255, 255, 255, 1),inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),0 2px 2px rgba(0, 0, 0, 0.2);
}
[data-theme-mode="dark"] {
    --b3-shadow-main: var(--b3-theme-primary-lightest);
    --b3-shadow-main: oklch(calc(0.01 + var(--b3-theme-primary-brightness) * 0.01) calc(0.15 * var(--b3-theme-primary-saturate)) var(--b3-theme-primary-main) / 0.1);
    --b3-point-shadow: 0px 13px 25px -2px var(--b3-shadow-main),0px 0px 10px 0px var(--b3-shadow-main),0 0 0 1px rgba(255, 255, 255, 0.2) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-embed-shadow: 0px 0px 10px 0px var(--b3-shadow-main),0 0 0 1px rgba(255, 255, 255, 0.08) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-toolbar-shadow: 0px 13px 25px -2px var(--b3-shadow-main),0px 0px 10px 0px var(--b3-shadow-main),0 0 0 1px rgba(255, 255, 255, 0.2) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-status-shadow: 0px 13px 25px -2px var(--b3-shadow-main),0px 0px 10px 0px var(--b3-shadow-main),0 0 0 1px rgba(255, 255, 255, 0.2) inset,0 2px 1px -1px rgba(255, 255, 255, 0.2) inset;
    --b3-switch-shadow: inset 0 4px 10px rgba(41, 41, 41, 0.19),inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2),inset 0 0 1px rgba(0, 0, 0, 0.4);
    --b3-switch-after-shadow: inset 0px 1px 0px 1px rgba(255, 255, 255, 0.5),inset 0px 0px 0px 1px rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.35);
}