@import url('./style/Status.css');
@import url('./style/Main.css');
@import url('./style/Dock.css');
@import url('./style/TopBar.css');
@import url('./style/Color.css');
@import url('./style/Var.css');
@import url('./style/LayoutTab.css');
@import url('./style/Setting.css');
@import url('./style/Account.css');
@import url('./style/Bazaar.css');
@import url('./style/Dialog.css');
@import url('./style/Breadcrum.css');
@import url('./style/Switch.css');
@import url('./style/Input.css');
@import url('./style/Select.css');
@import url('./style/Tips.css');
@import url('./style/Misc.css');
@import url('./style/ForwardSlash.css');
@import url('./style/Button.css');
@import url('./style/Link.css');
@import url('./style/FileElements.css');
@import url('./style/Search.css');
@import url('./style/av.css');
@import url('./style/Heading.css');
@import url('./style/Emoji.css');
@import url('./style/ToolBar.css');
@import url('./style/Menu.css');
@import url('./style/ImgViewer.css');
@import url('./style/CommandPanel.css');
@import url('./style/FlashCard.css');
@import url('./style/ColorPick.css');
@import url('./style/QYLSettings.css');
@import url('./style/BackLink.css');
@import url('./style/ViewTransition.css');
@import url('./style/Mobile.css');
@import url('./style/PDF.css');
@import url('./style/SideMemo.css');
@import url('./style/QYLAttr.css');
@import url('./style/FullScreen.css');
@import url('./style/Plugins.css');
@import url('./style/Pickr.min.css');
@import url('./style/SbHandle.css');
@import url('./style/BlockFold.css');
@import url('./style/CustomColorPick.css');
@import url('./style/Callout.css');
/* 全宽显示 */
@import url('./style/CustomAttr/blockfullwidth.css');