[data-theme-mode="light"] {
    --QYL-custom-primary-main: 30deg;
    /* 主色 */
    --b3-theme-primary: #eb6f5c;
    --b3-theme-primary-light: rgba(235, 99, 78, 0.5);
    --b3-theme-primary-lighter: rgba(235, 99, 78, 0.32);
    --b3-theme-primary-lightest: rgba(235, 99, 78, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #fff9e9;
    --b3-theme-background-light: #efe5cc;
    /* 面板背景色 */
    --b3-theme-surface: #f5eacc;
    --b3-theme-surface-light: rgba(245, 234, 204, 0.8);
    --b3-theme-surface-lighter: rgba(192, 183, 154, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #473957;
    --b3-theme-on-surface: #5b4d6b;
    --b3-theme-on-surface-light: #6d607c;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #fffcf4;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #e3d6af;
    /* 悬停 */
    --b3-list-hover: rgba(255, 153, 144, 0.3);
    --b3-list-icon-hover: rgba(255, 153, 144, 0.3);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #e9d8cd;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(229, 184, 87, 0.15);
    --QYL-tab-item-focus: rgba(229, 184, 87, 0.4);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(252, 249, 246, 0.7);
    --QYL-Aero-background-wrap: rgba(255, 250, 238, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #fbf3da;
    --QYL-blockquote-svg: #dfd5ba;  
    --QYL-blockquote: #81775e;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}