[data-theme-mode="light"] {
    --QYL-custom-primary-main: 196deg;
    /* 主色 */
    --b3-theme-primary: #7aa6a6;
    --b3-theme-primary-light: rgba(122, 166, 166, 0.55);
    --b3-theme-primary-lighter: rgba(122, 166, 166, 0.32);
    --b3-theme-primary-lightest: rgba(122, 166, 166, 0.15);
    /* 编辑器背景色 */
    --b3-theme-background: #f7fbfc;
    --b3-theme-background-light: #e1eaed;
    /* 面板背景色 */
    --b3-theme-surface: #e9f1f3;
    --b3-theme-surface-light: rgba(233, 241, 243, 0.8);
    --b3-theme-surface-lighter: rgba(164, 187, 192, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #384f51;
    --b3-theme-on-surface: #607276;
    --b3-theme-on-surface-light: #738089;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #eff3f4;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #c7e1e9;
    /* 悬停 */
    --b3-list-hover: rgba(170, 205, 205, 0.5);
    --b3-list-icon-hover: rgba(170, 205, 205, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #d9e8f1;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(170, 205, 205, 0.2);
    --QYL-tab-item-focus: rgba(170, 205, 205, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(254, 255, 255, 0.7);
    --QYL-Aero-background-wrap: rgba(248, 255, 255, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #e6eff1;
    --QYL-blockquote-svg: #cbd6da;
    --QYL-blockquote: #72898f;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}
/* 细节调整 */
.QYLColorBlock[data-theme-mode="light"] {
    --b3-theme-surface: #e2f2f6;
}