[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 21deg;
    /* 主色 */
    --b3-theme-primary: #a34c4c;
    --b3-theme-primary-light: rgba(163, 76, 76, 0.5);
    --b3-theme-primary-lighter: rgba(163, 76, 76, 0.35);
    --b3-theme-primary-lightest: rgba(163, 76, 76, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #1d1515;
    --b3-theme-background-light: #473939;
    /* 面板背景色 */
    --b3-theme-surface: #161010;
    --b3-theme-surface-light: rgba(22, 16, 16, 0.82);
    --b3-theme-surface-lighter: rgba(255, 234, 234, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #b5b5b5;
    --b3-theme-on-surface: #9aa0a6;
    --b3-theme-on-surface-light: #bababa;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #302b2b;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: rgb(57, 41, 41);
    /* 悬停 */
    --b3-list-hover: rgba(138, 63, 63, 0.5);
    --b3-list-icon-hover: rgba(138, 63, 63, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* switch */
    --b3-switch-background: rgb(93, 82, 82);
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(138, 63, 63, 0.1);
    --QYL-tab-item-focus: rgba(138, 63, 63, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(15, 14, 14, 0.7);
    --QYL-Aero-background-wrap: rgba(43, 32, 32, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #352929;
    --QYL-blockquote-svg: #594b4b;
    --QYL-blockquote: #a89a9a;
}