[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 284deg;
    /* 主色 */
    --b3-theme-primary: #756cd9;
    --b3-theme-primary-light: rgba(117, 108, 217, 0.5);
    --b3-theme-primary-lighter: rgba(117, 108, 217, 0.3);
    --b3-theme-primary-lightest: rgba(117, 108, 217, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #282455;
    --b3-theme-background-light: #46417d;
    /* 面板背景色 */
    --b3-theme-surface: #191841;
    --b3-theme-surface-light: rgba(25, 24, 65, 0.8);
    --b3-theme-surface-lighter: rgba(233, 233, 255, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #d2deeb;
    --b3-theme-on-surface: #bdcad8;
    --b3-theme-on-surface-light: #aab8c7;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #323165;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #37366c;
    /* 悬停 */
    --b3-list-hover: rgba(98, 89, 194, 0.5);
    --b3-list-icon-hover: rgba(98, 89, 194, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* switch */
    --b3-switch-background: #403d6e;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(98, 89, 194, 0.2);
    --QYL-tab-item-focus: rgba(98, 89, 194, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(46, 46, 54, 0.7);
    --QYL-Aero-background-wrap: rgba(26, 26, 65, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #3b3671;
    --QYL-blockquote-svg: #585392;
    --QYL-blockquote: #9693c1;
}
