[data-theme-mode="light"] {
    --QYL-custom-primary-main: 183deg;
    /* 主色 */
    --b3-theme-primary: #7db4ab;
    --b3-theme-primary-light: rgba(125, 180, 171, 0.5);
    --b3-theme-primary-lighter: rgba(125, 180, 171, 0.3);
    --b3-theme-primary-lightest: rgba(125, 180, 171, 0.1);
    /* 编辑器背景色 */
    --b3-theme-background: #fffcf0;
    --b3-theme-background-light: #e8e5d7;
    /* 面板背景色 */
    --b3-theme-surface: #f2f0e5;
    --b3-theme-surface-light: rgba(242, 240, 229, 0.8);
    --b3-theme-surface-lighter: rgba(189, 184, 153, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #242322;
    --b3-theme-on-surface: #52514d;
    --b3-theme-on-surface-light: #6c6b66;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #f7f6f0;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: rgba(207, 203, 192, 0.5);
    /* 悬停 */
    --b3-list-hover: rgba(219, 211, 190, 0.5);
    --b3-list-icon-hover: rgba(219, 211, 190, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #e4e1d2;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(231, 227, 213, 0.35);
    --QYL-tab-item-focus: rgba(219, 211, 190, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(255, 254, 251, 0.7);
    --QYL-Aero-background-wrap: rgba(255, 253, 243, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #f3f1e4;
    --QYL-blockquote-svg: #d8d5c3;
    --QYL-blockquote: #52514d;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}