[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 21deg;
    /* 主色 */
    --b3-theme-primary: #cf5659;
    --b3-theme-primary-light: rgba(207, 86, 89, 0.5);
    --b3-theme-primary-lighter: rgba(207, 86, 89, 0.35);
    --b3-theme-primary-lightest: rgba(207, 86, 89, 0.25);
    /* 编辑器背景色 */
    --b3-theme-background: #1a1a1a;
    --b3-theme-background-light: #3d3d3d;
    /* 面板背景色 */
    --b3-theme-surface: rgb(38, 39, 40);
    --b3-theme-surface-light: rgba(61, 61, 61, 0.86);
    --b3-theme-surface-lighter: rgba(255, 255, 255, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: rgba(255,255,255,.82);
    --b3-theme-on-surface: rgba(255,255,255,.68);
    --b3-theme-on-surface-light: rgba(255,255,255,.52);
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #494949;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: rgba(229, 229, 229, 0.2);
    /* 悬停 */
    --b3-list-hover: rgba(255, 255, 255, 0.1);
    --b3-list-icon-hover: rgba(255, 255, 255, 0.1);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(10, 10, 10, .4);
    /* switch */
    --b3-switch-background: rgb(99, 99, 99);
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(255, 255, 255, 0.05);
    --QYL-tab-item-focus: rgba(255, 255, 255, 0.18);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(26, 26, 26, 0.7);
    --QYL-Aero-background-wrap: rgba(0, 0, 0, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: rgba(255, 255, 255, 0.08);
    --QYL-blockquote-svg: rgba(255, 255, 255, 0.12);
    --QYL-blockquote: rgba(255, 255, 255, 0.45);
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-on-surface);
    /* 标记 */
    --b3-protyle-inline-mark-background: rgba(81, 150, 92, 0.8);
}