[data-theme-mode="light"] {
    --QYL-custom-primary-main: 145deg;
    --b3-theme-primary: rgb(85, 183, 95);
    --b3-theme-primary-light: rgba(85, 183, 95, 0.5);
    --b3-theme-primary-lighter: rgba(85, 183, 95, 0.3);
    --b3-theme-primary-lightest: rgba(85, 183, 95, 0.1);
    --b3-theme-background: #e8f5e3;
    --b3-theme-background-light: rgb(178, 215, 165);
    --b3-theme-surface: #cfe9c4;
    --b3-theme-surface-light: rgba(207, 233, 196, 0.8);
    --b3-theme-surface-lighter: rgba(162, 189, 148, 0.68);
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #124e4b;
    --b3-theme-on-surface: #336a5f;
    --b3-theme-on-surface-light: #46796f;
    --b3-toolbar-blur-background: rgb(222, 236, 216);
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    --b3-scroll-color: rgb(183, 222, 173);
    --b3-list-hover: rgba(120, 219, 111, 0.4);
    --b3-list-icon-hover: rgba(120, 219, 111, 0.4);
    --b3-menu-background: var(--b3-theme-background);
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    --b3-switch-background: rgb(180, 218, 171);
    --b3-protyle-code-background: var(--b3-theme-surface);
    --QYL-tab-item: rgba(120, 219, 111, 0.1);
    --QYL-tab-item-focus: rgba(120, 219, 111, 0.4);
    --QYL-status-background: var(--b3-theme-background);
    --QYL-Aero-background: rgba(249, 255, 247, 0.7);
    --QYL-Aero-background-wrap: rgba(249, 255, 247, 0.7);
    --QYL-blockquote-background: rgb(203, 240, 200);
    --QYL-blockquote-svg: rgb(175, 228, 172);
    --QYL-blockquote: rgb(113, 178, 104);
    --QYL-inline-code: var(--b3-theme-primary);
}