[data-theme-mode="light"] {
    --QYL-custom-primary-main: 263deg;
    /* 主色 */
    --b3-theme-primary: #66748f;
    --b3-theme-primary-light: rgba(102, 116, 143, 0.5);
    --b3-theme-primary-lighter: rgba(102, 116, 143, 0.3);
    --b3-theme-primary-lightest: rgba(102, 116, 143, 0.1);
    /* 编辑器背景色 */
    --b3-theme-background: #e5e8f0;
    --b3-theme-background-light: #c9cedd;
    /* 面板背景色 */
    --b3-theme-surface: #d7dce6;
    --b3-theme-surface-light: rgba(215, 220, 230, 0.8);
    --b3-theme-surface-lighter: rgba(165, 174, 193, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #2a354b;
    --b3-theme-on-surface: #4c5665;
    --b3-theme-on-surface-light: #5e6671;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #eaedf3;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #cacfdb;
    /* 悬停 */
    --b3-list-hover: rgba(187, 196, 212, 0.5);
    --b3-list-icon-hover: rgba(187, 196, 212, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #cfd8e6;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(190, 203, 225, 0.2);
    --QYL-tab-item-focus: rgba(187, 196, 212, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(248, 248, 248, 0.7);
    --QYL-Aero-background-wrap: rgba(245, 245, 245, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #dadee7;
    --QYL-blockquote-svg: #c0c4cf;
    --QYL-blockquote: #5f6675;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}
/* 细节调整 */
:root[data-theme-mode="light"] {
    --b3-theme-primary-fix: #2955a8;
}