[data-theme-mode="light"] {
    --QYL-custom-primary-main: 316deg;
    /* 主色 */
    --b3-theme-primary: rgb(211, 148, 236);
    --b3-theme-primary-light: rgba(211, 148, 236, 0.56);
    --b3-theme-primary-lighter: rgba(211, 148, 236, 0.3);
    --b3-theme-primary-lightest: rgba(211, 148, 236, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #faf3ff;
    --b3-theme-background-light: rgb(229, 207, 245);
    /* 面板背景色 */
    --b3-theme-surface: #efe4ff;
    --b3-theme-surface-light: rgba(239, 228, 255, 0.8);
    --b3-theme-surface-lighter: rgba(193, 181, 211, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #42165a;
    --b3-theme-on-surface: #683978;
    --b3-theme-on-surface-light: #785284;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: rgb(245, 239, 255);
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: rgb(230, 210, 244);
    /* 悬停 */
    --b3-list-hover: rgba(224, 186, 255, 0.5);
    --b3-list-icon-hover: rgba(224, 186, 255, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: rgb(222, 201, 237);
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(224, 186, 255, 0.2);
    --QYL-tab-item-focus: rgba(224, 186, 255, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(250, 248, 255, 0.7);
    --QYL-Aero-background-wrap: rgba(250, 248, 255, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: rgb(245, 230, 255);
    --QYL-blockquote-svg: rgb(231, 209, 245);
    --QYL-blockquote: rgb(193, 149, 221);
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}