[data-theme-mode="light"] {
    --QYL-custom-primary-main: 21deg;
    /* 主色 */
    --b3-theme-primary: #cf5659;
    --b3-theme-primary-light: rgba(207, 86, 89, 0.5);
    --b3-theme-primary-lighter: rgba(207, 86, 89, 0.32);
    --b3-theme-primary-lightest: rgba(207, 86, 89, 0.15);
    /* 编辑器背景色 */
    --b3-theme-background: #fff;
    --b3-theme-background-light: #eaeaea;
    /* 面板背景色 */
    --b3-theme-surface: #f5f5f5;
    --b3-theme-surface-light: rgba(245, 245, 245, 0.8);
    --b3-theme-surface-lighter: rgba(195, 195, 195, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: rgba(0, 0, 0, 0.75);
    --b3-theme-on-surface: rgba(0, 0, 0, 0.55);
    --b3-theme-on-surface-light: rgba(0, 0, 0, 0.45);
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #ffffff;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: rgba(195, 195, 195, 0.68);
    /* 悬停 */
    --b3-list-hover: rgba(0, 0, 0, 0.06);
    --b3-list-icon-hover: rgba(0, 0, 0, 0.06);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #d4dadf;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(0, 0, 0, 0.04);
    --QYL-tab-item-focus: rgba(0, 0, 0, 0.1);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(255, 255, 255, 0.7);
    --QYL-Aero-background-wrap: rgba(255, 255, 255, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: rgba(0, 0, 0, 0.05);
    --QYL-blockquote-svg: rgba(0, 0, 0, 0.1);
    --QYL-blockquote: rgba(0, 0, 0, 0.4);
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}