[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 75deg;
    /* 主色 */
    --b3-theme-primary: #9b815d;
    --b3-theme-primary-light: rgba(186, 148, 95, 0.5);
    --b3-theme-primary-lighter: rgba(186, 148, 95, 0.3);
    --b3-theme-primary-lightest: rgba(186, 148, 95, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #372d29;
    --b3-theme-background-light: #554842;
    /* 面板背景色 */
    --b3-theme-surface: #413632;
    --b3-theme-surface-light: rgba(65, 54, 50, 0.8);
    --b3-theme-surface-lighter: rgba(255, 242, 235, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #ccc2b7;
    --b3-theme-on-surface: #beb3a7;
    --b3-theme-on-surface-light: #aca195;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #806f68;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #6b5c55;
    /* 悬停 */
    --b3-list-hover: rgba(123, 107, 83, 0.5);
    --b3-list-icon-hover: rgba(123, 107, 83, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* switch */
    --b3-switch-background: #4f4a3f;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(132, 112, 83, 0.2);
    --QYL-tab-item-focus: rgba(148, 123, 86, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(54, 52, 51, 0.7);
    --QYL-Aero-background-wrap: rgba(78, 68, 63, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #483d38;
    --QYL-blockquote-svg: #5f514a;
    --QYL-blockquote: #a28a7e;
}