[data-theme-mode="light"] {
    --QYL-custom-primary-main: 298deg;
    /* 主色 */
    --b3-theme-primary: #83799a;
    --b3-theme-primary-light: rgba(153, 146, 169, 0.58);
    --b3-theme-primary-lighter: rgba(153, 146, 169, 0.35);
    --b3-theme-primary-lightest: rgba(153, 146, 169, 0.13);
    /* 编辑器背景色 */
    --b3-theme-background: #fffbf3;
    --b3-theme-background-light: #efe8db;
    /* 面板背景色 */
    --b3-theme-surface: #faf4ed;
    --b3-theme-surface-light: rgba(250, 244, 237, 0.8);
    --b3-theme-surface-lighter: rgba(197, 189, 178, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #49474e;
    --b3-theme-on-surface: #66636d;
    --b3-theme-on-surface-light: #74717c;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #faf8f5;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #e7d5ce;
    /* 悬停 */
    --b3-list-hover: rgba(206, 197, 190, 0.3);
    --b3-list-icon-hover: rgba(206, 197, 190, 0.3);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #dddae0;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(206, 197, 190, 0.15);
    --QYL-tab-item-focus: rgba(206, 197, 190, 0.3);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgb(255, 254, 251, 0.7);
    --QYL-Aero-background-wrap: rgb(255, 254, 251, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: rgb(245, 241, 234);
    --QYL-blockquote-svg: rgb(221, 217, 210);
    --QYL-blockquote: rgb(145, 141, 135);
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}
/* 细节调整 */
:root[data-theme-mode="light"] {
    --b3-theme-primary-fix: #7f65ba;
}
.QYLColorBlock[data-theme-mode="light"] {
    --b3-theme-surface: #f6eee6;
}