[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 256deg;
    /* 主色 */
    --b3-theme-primary: #4875b3;
    --b3-theme-primary-light: rgba(72, 117, 179, 0.5);
    --b3-theme-primary-lighter: rgba(170, 198, 222, 0.3);
    --b3-theme-primary-lightest: rgba(72, 117, 179, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #17181c;
    --b3-theme-background-light: #2f3038;
    /* 面板背景色 */
    --b3-theme-surface: #07080c;
    --b3-theme-surface-light: rgba(7, 8, 12, 0.8);
    --b3-theme-surface-lighter: rgba(255, 255, 255, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #fbfdff;
    --b3-theme-on-surface: #acadb3;
    --b3-theme-on-surface-light: rgb(176, 182, 191);
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #3d3f48;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: rgb(48, 48, 54);
    /* 悬停 */
    --b3-list-hover: rgba(84, 89, 106, 0.5);
    --b3-list-icon-hover: rgba(84, 89, 106, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-background);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* switch */
    --b3-switch-background: rgb(83, 83, 83);
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(84, 89, 106, 0.2);
    --QYL-tab-item-focus: rgba(84, 89, 106, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(7, 8, 12, 0.7);
    --QYL-Aero-background-wrap: rgb(30 30 37 / 70%);
    /* 引述块 */
    --QYL-blockquote-background: #2e2f36;
    --QYL-blockquote-svg: #44464e;
    --QYL-blockquote: #9194a0;
}