[data-theme-mode="light"] {
    --QYL-custom-primary-main: 248deg;
    --b3-theme-primary: rgb(115, 171, 224);
    --b3-theme-primary-light: rgba(115, 171, 224, 0.6);
    --b3-theme-primary-lighter: rgba(115, 171, 224, 0.4);
    --b3-theme-primary-lightest: rgba(115, 171, 224, 0.2);
    --b3-theme-background: #e2f0ff;
    --b3-theme-background-light: rgb(198, 223, 249);
    --b3-theme-surface: #cce0f3;
    --b3-theme-surface-light: rgba(204, 224, 243, 0.8);
    --b3-theme-surface-lighter: rgba(159, 180, 200, 0.68);
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #0d2745;
    --b3-theme-on-surface: #225664;
    --b3-theme-on-surface-light: #396976;
    --b3-toolbar-blur-background: #edf6ff;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    --b3-scroll-color: rgb(184, 200, 225);
    --b3-list-hover: rgba(147, 195, 244, 0.5);
    --b3-list-icon-hover: rgba(147, 195, 244, 0.5);
    --b3-menu-background: var(--b3-theme-background);
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    --b3-switch-background: rgb(177, 198, 220);
    --b3-protyle-code-background: var(--b3-theme-surface);
    --QYL-tab-item: rgba(147, 195, 244, 0.1);
    --QYL-tab-item-focus: rgba(147, 195, 244, 0.5);
    --QYL-status-background: var(--b3-theme-background);
    --QYL-Aero-background: rgba(255, 255, 255, 0.7);
    --QYL-Aero-background-wrap: rgba(255, 255, 255, 0.7);
    --QYL-blockquote-background: rgb(207, 233, 255);
    --QYL-blockquote-svg: rgb(174, 213, 247);
    --QYL-blockquote: rgb(92, 146, 207);
    --QYL-inline-code: var(--b3-theme-primary);
}