[data-theme-mode="light"] {
    --QYL-custom-primary-main: 182deg;
    /* 主色 */
    --b3-theme-primary: rgb(97, 190, 175);
    --b3-theme-primary-light: rgba(90, 187, 171, 0.5);
    --b3-theme-primary-lighter: rgba(90, 187, 171, 0.3);
    --b3-theme-primary-lightest: rgba(90, 187, 171, 0.1);
    /* 编辑器背景色 */
    --b3-theme-background: #F7F9ED;
    --b3-theme-background-light: #dadec7;
    /* 面板背景色 */
    --b3-theme-surface: #DBEADD;
    --b3-theme-surface-light: rgba(219, 234, 221, 0.8);
    --b3-theme-surface-lighter: rgba(160, 184, 163, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #184134;
    --b3-theme-on-surface: #224d49;
    --b3-theme-on-surface-light: #3c6763;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #eff8f0;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #b6d2ba;
    /* 悬停 */
    --b3-list-hover: rgba(127, 198, 186, 0.4);
    --b3-list-icon-hover: rgba(127, 198, 186, 0.4);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #cbdfd0;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(127, 198, 186, 0.15);
    --QYL-tab-item-focus: rgba(127, 198, 186, 0.4);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(252, 255, 252, 0.7);
    --QYL-Aero-background-wrap: rgba(248, 255, 248, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #f2f4dd;
    --QYL-blockquote-svg: #dcdec3;
    --QYL-blockquote: #7a7c68;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}