[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 205deg;
    /* 主色 */
    --b3-theme-primary: #3f7980;
    --b3-theme-primary-light: rgba(63, 122, 128, 0.5);
    --b3-theme-primary-lighter: rgba(63, 122, 128, 0.3);
    --b3-theme-primary-lightest: rgba(63, 122, 128, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #0f2839;
    --b3-theme-background-light: #25485f;
    /* 面板背景色 */
    --b3-theme-surface: #051e2f;
    --b3-theme-surface-light: rgba(5, 30, 47, 0.8);
    --b3-theme-surface-lighter: rgba(247, 252, 255, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #ebfff4;
    --b3-theme-on-surface: #daefe3;
    --b3-theme-on-surface-light: #d2e3da;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #13354c;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #254d68;
    /* 悬停 */
    --b3-list-hover: rgba(63, 106, 128, 0.5);
    --b3-list-icon-hover: rgba(63, 106, 128, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* switch */
    --b3-switch-background: #546c6d;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(63, 106, 128, 0.2);
    --QYL-tab-item-focus: rgba(63, 106, 128, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(12, 27, 37, 0.7);
    --QYL-Aero-background-wrap: rgba(27, 54, 72, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #1b3c52;
    --QYL-blockquote-svg: #396585;
    --QYL-blockquote: #9bc2dc;
}
