[data-theme-mode="light"] {
    --QYL-custom-primary-main: 355deg;
    --b3-theme-primary: rgb(244, 139, 181);
    --b3-theme-primary-light: rgba(244, 139, 181, 0.6);
    --b3-theme-primary-lighter: rgba(244, 139, 181, 0.4);
    --b3-theme-primary-lightest: rgba(244, 139, 181, 0.15);
    --b3-theme-background: #fff6fb;
    --b3-theme-background-light: rgb(248, 210, 229);
    --b3-theme-surface: #f9e9ef;
    --b3-theme-surface-light: rgba(250, 227, 235, 0.8);
    --b3-theme-surface-lighter: rgba(201, 178, 186, 0.68);
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #5a1b34;
    --b3-theme-on-surface: #542638;
    --b3-theme-on-surface-light: #734356;
    --b3-toolbar-blur-background: rgb(255, 244, 250);
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    --b3-scroll-color: rgb(231, 197, 210);
    --b3-list-hover: rgba(255, 182, 211, 0.5);
    --b3-list-icon-hover: rgba(255, 182, 211, 0.5);
    --b3-menu-background: var(--b3-theme-background);
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    --b3-switch-background: rgb(241, 205, 215);
    --b3-protyle-code-background: var(--b3-theme-surface);
    --QYL-tab-item: rgba(255, 182, 211, 0.2);
    --QYL-tab-item-focus: rgba(255, 182, 211, 0.5);
    --QYL-status-background: var(--b3-theme-background);
    --QYL-Aero-background: rgb(255, 247, 250, 0.7);
    --QYL-Aero-background-wrap: rgb(255, 247, 250, 0.7);
    --QYL-blockquote-background: rgb(255, 230, 242);
    --QYL-blockquote-svg: rgb(248, 197, 221);
    --QYL-blockquote: rgb(228, 154, 184);
    --QYL-inline-code: var(--b3-theme-primary);
}
/* 细节调整 */
.QYLColorBlock[data-theme-mode="light"] {
    --b3-theme-surface: #ffe2ed;
}