[data-theme-mode="light"] {
    --QYL-custom-primary-main: 56deg;
    --b3-theme-primary: rgb(240, 140, 58);
    --b3-theme-primary-light: rgba(240, 140, 58, 0.5);
    --b3-theme-primary-lighter: rgba(240, 140, 58, 0.3);
    --b3-theme-primary-lightest: rgba(240, 140, 58, 0.1);
    --b3-theme-background: #fff5e8;
    --b3-theme-background-light: rgb(255, 224, 184);
    --b3-theme-surface: #ffefd7;
    --b3-theme-surface-light: rgba(255, 239, 215, 0.8);
    --b3-theme-surface-lighter: rgba(211, 194, 179, 0.68);
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary); 
    --b3-theme-on-secondary: var(--b3-theme-on-primary); 
    --b3-theme-on-background: #422d18;
    --b3-theme-on-surface: #674d33;
    --b3-theme-on-surface-light: #79624b;
    --b3-toolbar-blur-background: #fff2e8;
    --b3-toolbar-color: var(--b3-theme-on-surface-light); 
    --b3-toolbar-hover: var(--b3-list-hover); 
    --b3-scroll-color: rgb(232, 203, 180);
    --b3-list-hover: rgba(255, 166, 111, 0.4); 
    --b3-list-icon-hover: rgba(255, 166, 111, 0.4); 
    --b3-menu-background: var(--b3-theme-background); 
    --b3-tooltips-background: var(--b3-theme-background); 
    --b3-tooltips-color: var(--b3-theme-on-surface); 
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light); 
    --b3-tooltips-shadow: var(--b3-point-shadow); 
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    --b3-switch-background: rgb(255, 216, 186); 
    --b3-protyle-code-background: var(--b3-theme-surface); 
    --QYL-tab-item: rgba(255, 166, 111, 0.1); 
    --QYL-tab-item-focus: rgba(255, 166, 111, 0.4); 
    --QYL-status-background: var(--b3-theme-background); 
    --QYL-Aero-background: rgba(255, 252, 247, 0.7); 
    --QYL-Aero-background-wrap: rgba(255, 252, 247, 0.7); 
    --QYL-blockquote-background: rgb(255, 234, 210);
    --QYL-blockquote-svg: rgb(239, 212, 182);
    --QYL-blockquote: rgb(179, 111, 75);
    --QYL-inline-code: var(--b3-theme-primary); 
}
/* 细节调整 */
.QYLColorBlock[data-theme-mode="light"] {
    --b3-theme-surface: #fbe5c3;
}