[data-theme-mode="light"] {
    --QYL-custom-primary-main: 30deg;
    /* 主色 */
    --b3-theme-primary: #d17e7b;
    --b3-theme-primary-light: rgba(231, 117, 113, 0.5);
    --b3-theme-primary-lighter: rgba(231, 117, 113, 0.3);
    --b3-theme-primary-lightest: rgba(231, 117, 113, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #eee6dd;
    --b3-theme-background-light: #dcd3c8;
    /* 面板背景色 */
    --b3-theme-surface: #e6dbd1;
    --b3-theme-surface-light: rgba(230, 219, 209, 0.8);
    --b3-theme-surface-lighter: rgba(200, 178, 159, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #514a65;
    --b3-theme-on-surface: #665e7b;
    --b3-theme-on-surface-light: #726b87;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #f2eae3;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #d4cabb;
    /* 悬停 */
    --b3-list-hover: rgba(234, 154, 151, 0.45);
    --b3-list-icon-hover: rgba(234, 154, 151, 0.45);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #decdc0;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(234, 154, 151, 0.15);
    --QYL-tab-item-focus: rgba(234, 154, 151, 0.35);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(255, 253, 251, 0.7);
    --QYL-Aero-background-wrap: rgba(255, 249, 245, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #e7dbce;
    --QYL-blockquote-svg: #d5c6b4;
    --QYL-blockquote: #8a7f6d;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}