[data-theme-mode="light"] {
    --QYL-custom-primary-main: 105deg;
    /* 主色 */
    --b3-theme-primary: #3f50a3;
    --b3-theme-primary-light: rgba(74, 61, 139, 0.5);
    --b3-theme-primary-lighter: rgba(74, 61, 139, 0.3);
    --b3-theme-primary-lightest: rgba(74, 61, 139, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #dddbc7;
    --b3-theme-background-light: #c6c4aa;
    /* 面板背景色 */
    --b3-theme-surface: rgb(206, 205, 180);
    --b3-theme-surface-light: rgba(198, 197, 179, 0.8);
    --b3-theme-surface-lighter: rgba(164, 162, 127, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #343250;
    --b3-theme-on-surface: #455a67;
    --b3-theme-on-surface-light: #516979;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #e7e6d3;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #b9b8a3;
    /* 悬停 */
    --b3-list-hover: rgba(190, 187, 153, 0.5);
    --b3-list-icon-hover: rgba(190, 187, 153, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #bfc4ab;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(183, 179, 136, 0.15);
    --QYL-tab-item-focus: rgba(183, 179, 136, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(225, 225, 219, 0.7);
    --QYL-Aero-background-wrap: rgba(230, 230, 206, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #d4d2b9;
    --QYL-blockquote-svg: #bcbaa2;
    --QYL-blockquote: #858371;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}
/* 细节调整 */
:root[data-theme-mode="light"] {
    --b3-theme-primary-fix: #596fdc;
}
.b3-typography h1, .b3-typography .h1, .protyle-wysiwyg h1, .protyle-wysiwyg .h1,
.b3-typography h2, .b3-typography .h2, .protyle-wysiwyg h2, .protyle-wysiwyg .h2,
.b3-typography h3, .b3-typography .h3, .protyle-wysiwyg h3, .protyle-wysiwyg .h3,
.b3-typography h4, .b3-typography .h4, .protyle-wysiwyg h4, .protyle-wysiwyg .h4,
.b3-typography h5, .b3-typography .h5, .protyle-wysiwyg h5, .protyle-wysiwyg .h5,
.b3-typography h6, .b3-typography .h6, .protyle-wysiwyg h6, .protyle-wysiwyg .h6,
:is(.sy__outline, .QYLmobile [data-type="sidebar-outline"]) .b3-list--background .b3-list-item[data-subtype="h1"],
:is(.sy__outline, .QYLmobile [data-type="sidebar-outline"]) .b3-list--background .b3-list-item[data-subtype="h2"],
:is(.sy__outline, .QYLmobile [data-type="sidebar-outline"]) .b3-list--background .b3-list-item[data-subtype="h3"],
:is(.sy__outline, .QYLmobile [data-type="sidebar-outline"]) .b3-list--background .b3-list-item[data-subtype="h4"],
:is(.sy__outline, .QYLmobile [data-type="sidebar-outline"]) .b3-list--background .b3-list-item[data-subtype="h5"],
:is(.sy__outline, .QYLmobile [data-type="sidebar-outline"]) .b3-list--background .b3-list-item[data-subtype="h6"] {
    filter: brightness(0.8);
}