[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 269deg;
    /* 主色 */
    --b3-theme-primary: #6178bd;
    --b3-theme-primary-light: rgba(182, 193, 222, 0.5);
    --b3-theme-primary-lighter: rgba(182, 193, 222, 0.3);
    --b3-theme-primary-lightest: rgba(182, 193, 222, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #282c34;
    --b3-theme-background-light: rgb(72, 77, 88);
    /* 面板背景色 */
    --b3-theme-surface: #1e2227;
    --b3-theme-surface-light: rgba(30, 34, 39, 0.8);
    --b3-theme-surface-lighter: rgba(242, 248, 255, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #cfd7e7;
    --b3-theme-on-surface: #c1cad6;
    --b3-theme-on-surface-light: #c1cad6;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: rgb(74, 81, 90);
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color:  rgb(61, 68, 78);
    /* 悬停 */
    --b3-list-hover: rgba(66, 77, 105, 0.4);
    --b3-list-icon-hover: rgba(66, 77, 105, 0.4);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* switch */
    --b3-switch-background: rgb(100, 105, 110);
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(66, 77, 105, 0.2);
    --QYL-tab-item-focus: rgba(66, 77, 105, 0.4);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(39, 39, 40, 0.7);
    --QYL-Aero-background-wrap: rgb(30 30 37 / 70%);
    /* 引述块 */
    --QYL-blockquote-background: rgb(66, 71, 82);
    --QYL-blockquote-svg: rgb(89, 95, 108);
    --QYL-blockquote: rgb(159, 164, 176);
}