[data-theme-mode="light"] {
    --QYL-custom-primary-main: 125deg;
    /* 主色 */
    --b3-theme-primary: #859f5b;
    --b3-theme-primary-light: rgba(161, 179, 133, 0.56);
    --b3-theme-primary-lighter: rgba(161, 179, 133, 0.33);
    --b3-theme-primary-lightest: rgba(161, 179, 133, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #eaf0e2;
    --b3-theme-background-light: #d0dac3;
    /* 面板背景色 */
    --b3-theme-surface: #d9e3c9;
    --b3-theme-surface-light: rgba(217, 227, 201, 0.8);
    --b3-theme-surface-lighter: rgba(162, 172, 142, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #3a3f32;
    --b3-theme-on-surface: #6a6d63;
    --b3-theme-on-surface-light: #6a6d63;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #eff6e3;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #c1cdac;
    /* 悬停 */
    --b3-list-hover: rgba(186, 207, 153, 0.5);
    --b3-list-icon-hover: rgba(186, 207, 153, 0.5);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #d9e0d1;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(186, 207, 153, 0.15);
    --QYL-tab-item-focus: rgba(186, 207, 153, 0.5);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgb(241, 241, 241, 0.7);
    --QYL-Aero-background-wrap: rgb(255, 252, 243, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #dde6d2;
    --QYL-blockquote-svg: #c5d0b8;
    --QYL-blockquote: #858d7b;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}
/* 细节调整 */
:root[data-theme-mode="light"] {
    --b3-theme-primary-fix: #78a92b;
}