[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 11deg;
    /* 主色 */
    --b3-theme-primary: #a94255;
    --b3-theme-primary-light: rgba(203, 96, 116, 0.5);
    --b3-theme-primary-lighter: rgba(160, 128, 223, 0.3);
    --b3-theme-primary-lightest: rgba(225, 112, 112, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #17151c;
    --b3-theme-background-light: #393542;
    /* 面板背景色 */
    --b3-theme-surface: #2d2935;
    --b3-theme-surface-light: rgba(45, 41, 53, 0.8);
    --b3-theme-surface-lighter: rgba(236, 226, 255, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #d7c9c2;
    --b3-theme-on-surface: #cfbfb7;
    --b3-theme-on-surface-light: #bdada5;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #4e4958;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #534e5e;
    /* 悬停 */
    --b3-list-hover: rgba(216, 183, 162, 0.3);
    --b3-list-icon-hover: rgba(216, 183, 162, 0.3);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* switch */
    --b3-switch-background: #60546d;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(216, 183, 162, 0.1);
    --QYL-tab-item-focus: rgba(216, 183, 162, 0.3);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(52, 50, 55, 0.7);
    --QYL-Aero-background-wrap: rgba(65, 61, 70, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #302c38;
    --QYL-blockquote-svg: #504b5d;
    --QYL-blockquote: #9790ac;
}
