[data-theme-mode="dark"] {
    --QYL-custom-primary-main: 281deg;
    /* 主色 */
    --b3-theme-primary: rgb(101, 96, 210);
    --b3-theme-primary-light: rgba(87, 83, 173, 0.5);
    --b3-theme-primary-lighter: rgba(87, 83, 173, 0.35);
    --b3-theme-primary-lightest: rgba(87, 83, 173, 0.12);
    /* 编辑器背景色 */
    --b3-theme-background: #1d1c25;
    --b3-theme-background-light: rgb(54, 53, 66);
    /* 面板背景色 */
    --b3-theme-surface: #2a2936;
    --b3-theme-surface-light: rgba(42, 41, 54, 0.86);
    --b3-theme-surface-lighter: rgba(229, 227, 255, 0.15);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #b5b5b5;
    --b3-theme-on-surface: #9aa0a6;
    --b3-theme-on-surface-light: #bababa;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: rgb(37, 36, 42);
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: rgb(69, 66, 88);
    /* 悬停 */
    --b3-list-hover: rgba(62, 67, 117, 0.65);
    --b3-list-icon-hover: rgba(62, 67, 117, 0.65);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* switch */
    --b3-switch-background: rgb(66, 67, 95);
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(62, 67, 117, 0.15);
    --QYL-tab-item-focus: rgba(62, 67, 117, 0.65);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(36, 36, 41, 0.7);
    --QYL-Aero-background-wrap: rgb(48 48 64 / 70%);
    /* 引述块 */
    --QYL-blockquote-background: rgb(49, 47, 58);
    --QYL-blockquote-svg: rgb(84, 81, 100);
    --QYL-blockquote: rgb(131, 127, 148);
}