[data-theme-mode="light"] {
    --QYL-custom-primary-main: 292deg;
    /* 主色 */
    --b3-theme-primary: #8A5CF5;
    --b3-theme-primary-light: rgba(138, 92, 245, 0.55);
    --b3-theme-primary-lighter: rgba(138, 92, 245, 0.32);
    --b3-theme-primary-lightest: rgba(138, 92, 245, 0.15);
    /* 编辑器背景色 */
    --b3-theme-background: #f6f5fa;
    --b3-theme-background-light: #e3e1ec;
    /* 面板背景色 */
    --b3-theme-surface: #eeedf5;
    --b3-theme-surface-light: rgba(239, 237, 245, 0.8);
    --b3-theme-surface-lighter: rgba(181, 176, 211, 0.68);
    /* 文字颜色 */
    --b3-theme-on-primary: rgba(255,255,255,.9);
    --b3-theme-on-error: var(--b3-theme-on-primary);
    --b3-theme-on-secondary: var(--b3-theme-on-primary);
    --b3-theme-on-background: #11253e;
    --b3-theme-on-surface: #617691;
    --b3-theme-on-surface-light: #617691;
    /* 顶部工具栏 */
    --b3-toolbar-blur-background: #f3f6f8;
    --b3-toolbar-color: var(--b3-theme-on-surface-light);
    --b3-toolbar-hover: var(--b3-list-hover);
    /* 滚动条 */
    --b3-scroll-color: #dbd5eb;
    /* 悬停 */
    --b3-list-hover: rgba(210, 194, 249, 0.8);
    --b3-list-icon-hover: rgba(210, 194, 249, 0.8);
    /* 菜单 */
    --b3-menu-background: var(--b3-theme-background);
    /* 提示 */
    --b3-tooltips-background: var(--b3-theme-background);
    --b3-tooltips-color: var(--b3-theme-on-surface);
    --b3-tooltips-second-color: var(--b3-theme-on-surface-light);
    --b3-tooltips-shadow: var(--b3-point-shadow);
    /* 遮罩 */
    --b3-mask-background: rgba(220, 220, 220, 0.4);
    /* switch */
    --b3-switch-background: #d4dadf;
    /* 行级代码背景色 */
    --b3-protyle-code-background: var(--b3-theme-surface);
    /* 页签 */
    --QYL-tab-item: rgba(212, 221, 233, 0.3);
    --QYL-tab-item-focus: rgba(210, 194, 249, 0.8);
    /* 状态栏 */
    --QYL-status-background: var(--b3-theme-background);
    /* 毛玻璃 */
    --QYL-Aero-background: rgba(246, 245, 250, 0.7);
    --QYL-Aero-background-wrap: rgba(246, 245, 250, 0.7);
    /* 引述块 */
    --QYL-blockquote-background: #ebeaf2;
    --QYL-blockquote-svg: #c9c9d4;
    --QYL-blockquote: #7d7d86;
    /* 行级代码 */
    --QYL-inline-code: var(--b3-theme-primary);
}
/* 细节调整 */
.QYLColorBlock[data-theme-mode="light"] {
    --b3-theme-surface: #e6e3f4;
}